.product-card {
	width: 23%;
    position: relative;
	background: #fafafa;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2em 1em 1em;
    box-sizing: border-box;
    margin: 1%;
}

.product-details {
	h4 {
        font-weight: 500;
        display: block;
        margin-bottom: 1em;
        text-transform: uppercase;
        color: #363636;
        text-decoration: none;
        transition: 0.3s;
        margin-top: 0;
	}
	p {
		font-size: 0.75em;
		line-height: 1em;
		margin-bottom: 1em;
		color: #999;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
	}
}

.product-bottom-details {
	border-top: 1px solid #eee;
	padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-price {
	font-size: 0.75em;
	color: #fbb72c;
	font-weight: 600;
}

.product-qunatity {
    color: #999;
    font-size: 0.75em;
}

.actions{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 0;
    span {
        color: grey;
        font-size: 0.65em;
        margin-right: 1.5em;
        cursor: pointer;
    }
}
