.home-container {
    color: #fff;
    h1{
        text-align: center;
        margin-bottom: 0;
    }
}

.listing-container{
    margin: auto;
    display: flex;
    padding: 2vw;
    flex-wrap: wrap;
}
  