header {
	color: #fff;
	display: flex;
	justify-content: flex-end;
	background-color: darkblue;
}
.header-links {
	display: flex;
	padding: 1em 0;
	a {
		color: #fff;
		text-decoration: none;
		margin: 0 1.5em;
		font-size: 1em;
	}
	button {
		background-color: transparent;
		color: #fff;
		border: none;
		outline: none;
		margin: 0 1.5em;
		font-size: 1em;
		cursor: pointer;
	}
}